name: Deploy to Firebase Hosting
'on':
  push:
    tags:
      - '*'
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      VITE_REPO_READ_ACCESS_TOKEN: ${{ secrets.REPO_READ_ACCESS_TOKEN }}
      VITE_FIREBASE_ANALYTICS_API_KEY: ${{ secrets.FIREBASE_ANALYTICS_API_KEY }}
      VITE_GRAFANA_FARO_URL: ${{ secrets.GRAFANA_FARO_URL }}
      VITE_GRAFANA_FARO_APP_NAME: ${{ secrets.GRAFANA_FARO_APP_NAME }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Build, lint, and deploy
        run: |
          pnpm install
          pnpm run build
          pnpm run lint
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_LIFE_TRINKET }}'
          channelId: live
          projectId: life-trinket

  release:
    needs: build_and_deploy
    runs-on: ubuntu-latest
    env:
      working-directory: ${{ github.workspace }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: get version
        id: version
        uses: notiz-dev/github-action-json-property@v0.2.0

        with:
          path: 'package.json'
          prop_path: 'version'

      - name: Create Release Note
        id: create_release_note
        run: echo "Release Note for version ${{ steps.version.outputs.prop }}" > release_note.txt

      - name: Create Release
        uses: ncipollo/release-action@v1.13.0
        with:
          bodyFile: release_note.txt
          commit: ${{ github.sha }}
          tag: '${{ steps.version.outputs.prop }}'
          token: ${{ secrets.RELEASE_TOKEN }}
